{#
/**
* @file input-button.html.twig
*
* Default theme implementation to display a Bootstrap Input+Button component.
*
* @var id:          Your id
* @var name:        Your name
* @var class:       Your class
* @var position:    prepend, append
* @var texts:       Your texts, in order for respective input-group
*
* How to use it:
*       {% include "Components/BS4/input-button.html.twig" with {id:'myInputButtonId', name:'myInputButtonName', class: '', position: 'left', texts: ['Text1', 'Text2']} %}
*       {% include "Components/BS4/input-button.html.twig" with {id:'myInputButtonId', name:'myInputButtonName', class: '', position: 'right', texts: ['Text1', 'Text2']} %}
*/
#}

<div class="input-group{% if class is defined %} {{ class }}{% endif %}">
    {% if position is defined and position == 'prepend' %}
        <div class="input-group-prepend">
            <button{% if id is defined %} id="button_{{ id }}"{% endif %}{% if name is defined %} name="button_{{ name }}"{% endif %}
                    class="btn btn-default" type="button">
                {% if texts[1] is defined %}{{ texts[1] | raw }}{% endif %}
            </button>
        </div>
        <input{% if id is defined %} id="input_{{ id }}"{% endif %}{% if name is defined %} name="input_{{ name }}"{% endif %}
            type="text" class="form-control" {% if texts[0] is defined %}placeholder="{{ texts[0] | raw }}"{% endif %}>
    {% elseif position is defined and position == 'append' %}
        <input{% if id is defined %} id="input_{{ id }}"{% endif %}{% if name is defined %} name="input_{{ name }}"{% endif %}
            type="text" class="form-control" {% if texts[0] is defined %}placeholder="{{ texts[0] | raw }}"{% endif %}>
        <div class="input-group-append">
            <button{% if id is defined %} id="button_{{ id }}"{% endif %}{% if name is defined %} name="button_{{ name }}"{% endif %}
                    class="btn btn-default" type="button">
                {% if texts[1] is defined %}{{ texts[1] | raw }}{% endif %}
            </button>
      </span>
    {% else %}
        Something is wrong with your code!
    {% endif %}
</div>