{#
/**
* @file jumbotron.html.twig
*
* Default theme implementation to display a Bootstrap Jumbotron component.
*
* @var id:          Your id
* @var name:        Your name
* @var type:        container or null for free content using text
* @var text:        Your text
* @var title:       Your title, if type was set to null
* @var subtitle:    Your subtitle, if type was set to null
* @var separator:   Your separator, if type was set to null
* @var text:        Your text, if type was set to null
* @var buttons:     Your buttons, if type was set to null
*
* How to use it:
*   <a>
*       {% include "Components/BS4/jumbotron.html.twig" with {id: 'myJumbotronId', name: 'myJumbotronName', type: 'container', text: '<h1>Hello, world!</h1><p>...</p><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>'} %}
*       {% include "Components/BS4/jumbotron.html.twig" with {id: 'myJumbotronId', name: 'myJumbotronName', type: null, text: '<h1>Hello, world!</h1><p>...</p><p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>'} %}
*/
#}

<div{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %} class="jumbotron{% if name is defined %} {{ class }}{% endif %}">
    {% if type is defined and type == 'container' %}
        <div class="container">
            {% if text is defined %}
            {{ text | raw }}
            {% endif %}
        </div>
    {% else %}
        {% if title is defined %}<h1 class="display-4">{{ title|raw }}</h1>{% endif %}
        {% if subtitle is defined %}<p class="lead">{{ subtitle|raw }}</p>{% endif %}
        {% if separator is defined %}<hr class="my-4">{% endif %}
        {% if text is defined %}<p>{{ text|raw }}</p>{% endif %}
        {% if buttons is defined %}{{ buttons|raw }}{% endif %}
    {% endif %}
</div>