{#
/**
* @file media-object.html.twig
*
* Default theme implementation to display a Bootstrap Media Object component.
*
* @var id:          Your id
* @var name:        Your name
* @var titles:      Array of titles
* @var texts:       Array of texts
* @var imgSrc:      Array of images src
* @var imgHPos:     Array of image horizontal position (left* or right)
* @var imgVPos:     Array of image vertical position (top*, middle, bottom)
* @var imgAlt:      Array of image alt
* @var imgStyle:    Array of image style
*/
#}

{% if imgSrc is defined %}
<div class="media"{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}>
    <ul class="list-unstyled">
    {% for i in texts %}
        <li class="media">
            {% if imgVPos[loop.index0] is defined and imgVPos[loop.index0] == 'bottom' %}
                {% set imageVPos = 'align-self-end' %}
            {% elseif imgVPos[loop.index0] is defined and imgVPos[loop.index0] == 'middle' %}
                {% set imageVPos = 'align-self-center' %}
            {% else %}
                {% set imageVPos = 'align-self-start' %}
            {% endif %}
            {% if imgHPos[loop.index0] is defined and imgHPos[loop.index0] == 'right' %}
                {% set imageClass = imageVPos ~ ' ' ~ 'ml-3' %}
                {% set textClass = 'mt-0 mb-1' %}
                <div class="media-body">
                    {% if titles[loop.index0] is defined %}<h5 class="{{ textClass }}">{{ titles[loop.index0]|raw }}</h5>{% endif %}
                    {% if texts[loop.index0] is defined %}{{ texts[loop.index0]|raw }}{% endif %}
                </div>
                <img class="{{ imageClass }}" src="{{ imgSrc[loop.index0] }}"{% if imgAlt[loop.index0] is defined %} alt="{{ imgAlt[loop.index0] }}"{% endif %}{% if imgStyle[loop.index0] is defined %} style="{{ imgStyle[loop.index0] }}"{% endif %}>
            {% else %}
                {% set imageClass = imageVPos ~ ' ' ~ 'mr-3' %}
                {% set textClass = 'mt-0 mb-1' %}
                <img class="{{ imageClass }}" src="{{ imgSrc[loop.index0] }}"{% if imgAlt[loop.index0] is defined %} alt="{{ imgAlt[loop.index0] }}"{% endif %}{% if imgStyle[loop.index0] is defined %} style="{{ imgStyle[loop.index0] }}"{% endif %}>
                <div class="media-body">
                    {% if titles[loop.index0] is defined %}<h5 class="{{ textClass }}">{{ titles[loop.index0]|raw }}</h5>{% endif %}
                    {% if texts[loop.index0] is defined %}{{ texts[loop.index0]|raw }}{% endif %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% else %}
    You can't use a media-object without a image src
{% endif %}