{#
/**
* @file nav.html.twig
*
* Default theme implementation to display a Bootstrap Navs component.
*
* @var id:          Your id
* @var name:        Your name
* @var class:       justify-content-center, justify-content-end, flex-column, nav-tabs, nav-pills,nav-pills nav-fill, nav-pills nav-justified
* @var classes:     Array of classes items: active, disabled or null
* @var texts:       Array of your texts items
* @var links:       Array of links items
*
* How to use it:
*
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId1', name:'myNavName1', class:'nav-tabs', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId2', name:'myNavName2', class:'nav-tabs nav-justified', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId3', name:'myNavName3', class:'nav-tabs nav-stacked', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId4', name:'myNavName4', class:'nav-pills', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId5', name:'myNavName5', class:'nav-pills nav-justified', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*   {% include "Components/BS4/nav.html.twig" with {id:'myNavId6', name:'myNavName6', class:'nav-pills nav-stacked', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
*/
#}

<ul{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
        class="nav{% if class is defined %} {{ class }}{% endif %}">
    {% for i in texts %}
        {% if classes[loop.index0] is defined %}
            <li role="presentation" class="nav-item">
                <a class="nav-link{% if classes[loop.index0] is defined %} {{ classes[loop.index0] }}{% endif %}" href="{{ links[loop.index0] }}">
                    {% if texts[loop.index0] is defined %}
                        {{ texts[loop.index0] }}
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>