{#
/**
* @file radio.html.twig
*
* Default theme implementation to display a Bootstrap Radio component.
*
* @var id:          Your id
* @var name:        Your name
* @var disabled:    true/false
* @var message:     Your text message
*
* How to use it:
*
* {% include "Components/BS4/radio.html.twig" with {id:'myRadioId', name:'myRadioName', message: '<strong>Hello World</strong> Testing templating BS components with Twig!'} %}
* How to use it:
*   <input>
*       {% include "Components/BS4/radio.html.twig" with {id:'myRadioId1', name:'myRadioName1', text: 'Esto es un placeholder'} %}
*   <label>
*       {% include "Components/BS4/radio.html.twig" with {id:'myRadioId2', name:'myRadioName2', text: 'Recuerdame'} %}
*/
#}

<div class="form-check{% if disabled == true %} disabled{% endif %}">
    <input class="form-check-input" type="radio" {% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
            {% if value is defined %} value="{{ value }}"{% endif %}{% if checked == true %} checked{% endif %}{% if disabled == true %} disabled{% endif %}>
    <label class="form-check-label" {% if id is defined %} for="{{ id }}"{% endif %}>
        {{ text | raw }}
    </label>
</div>